<h1>Log In</h1>
<div>
    <form method="POST" action="/auth/login">
        <label for="email-field">Email:</label>
        <input id="email-field" type="text" name="email">
        <label for="password-field">Password:</label>
        <input id="password-field" type="password" name="password">
        <button class="btn waves-effect waves-light" type="submit" name="action"> Log In
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
